#Avoid WARN: Use the `--scripts-prepend-node-path` option to include the path for the node binary npm was executed with. When using nvm
scripts-prepend-node-path=true
# not enabled yet as it will require changes to the scope
always-auth=true
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@trova-trip:registry=https://npm.pkg.github.com
